.capabilities {
  margin-top: 144px;

  @media (max-width: $breakpoint-768) {
    margin-top: 72px;
  }
}

.capabilities__tabs {
  padding: 100px 0 30px;

  @media (max-width: $breakpoint-768) {
    padding: 30px 0 30px;
  }
}

.capabilities__controls {
  @media (max-width: $breakpoint-768) {
    justify-content: center;
  }
}

.capabilities__tab {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;

  @media (max-width: $breakpoint-768) {
    flex-direction: column;
  }
}

.capabilities__content {
  max-width: 376px;

  @media (max-width: $breakpoint-768) {
    max-width: none;
    text-align: center;
  }
}

.capabilities__enum {
  margin-top: 30px;

  @media (max-width: $breakpoint-768) {
    justify-content: center;
  }
}

.capabilities__button {
  margin-top: 40px;
}

.capabilities__img {
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: -18px;
    object-fit: contain;
  }

  @media (max-width: $breakpoint-768) {
    display: none;
  }
}
