.enum__title {
  display: block;
  color: #677487;
  font-size: 0.78rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.enum__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
  gap: 32px;
}

.enum__item {
  position: relative;
  color: $secondaryColor;
  font-weight: 600;

  &:not(:last-child)::before {
    position: absolute;
    top: 50%;
    right: -16px;
    width: 1px;
    height: 16px;
    background-color: rgba($secondaryColor, 0.1);
    content: "";
    transform: translateY(-50%);
  }
}
