html {
  height: 100%;
  box-sizing: border-box;
  font-family: $primaryFont;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: $primaryColor;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: $containerWidth + $containerPadding + px;
  padding: 0 $containerSidePadding + px;
  margin: 0 auto;
}


.section-title {
  margin: 0;
  color: $secondaryColor;
  font-size: 2.56rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.1;

  &--large {
    font-size: 3.33rem;
  }

  &--medium {
    font-size: 2.78rem;
  }
}

.text-special {
  color: $specialColor;
}

.input {
  padding: 23px 31px;
  border: 1px solid #dfe8fa;
  background: #f7f9fd;
  border-radius: 15px;
  color: $primaryColor;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.8;

  &--small {
    padding: 13px 22px;
    background-color: transparent;
  }
}

.button {
  display: inline-block;
  min-width: 153px;
  padding: 15px 19px;
  border: 1px solid transparent;
  background-color: $specialColor;
  border-radius: 15px;
  box-shadow: 0 16px 40px rgba(255, 188, 166, 0.33);
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}

.bg-container {
  max-width: 1360px;
  margin: 0 auto;
  background-color: #fdf9f8;

  &--second {
    background-color: #f9f7fc;
  }
}

.text {
  margin: 0;

  &:not(:first-child) {
    margin-top: 24px;
  }
}

.vertical-align {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
}
