// Container & Breakpoints
@use "sass:math";
$containerWidth: 1160;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);


$breakpoint-1000: 999.98px;
$breakpoint-768: 767.98px;
$breakpoint-375: 374.98px;

//Fonts
$primaryFont : "Poppins", sans-serif;

//Colors
$primaryColor: #677487;
$secondaryColor: #1d2736;
$specialColor: #f0998d;

//Burger
$burger-breakpoint: $breakpoint-1000;
$burgerMenuBackground: #f9f7fc;
