// Container & Breakpoints
@use "sass:math";
$containerWidth: 1160;
$containerPadding: 200;
$containerSidePadding: math.div($containerPadding, 2);


$breakpoint-1230: 1229.98px;
$breakpoint-992: 991.98px;
$breakpoint-768: 767.98px;
$breakpoint-480: 479.98px;

//Fonts
$primaryFont : "Poppins", sans-serif;

//Colors
$primaryColor: #677487;
$secondaryColor: #1d2736;
$specialColor: #f0998d;

//Burger
$burgerBreakpoint: $breakpoint-992;
